@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="login-page">

    <div class="login-form-wrapper">
        <img src="~/stamacasa.svg" alt="logo" role="logo">
        <div class="container __login-form-container">
            <h1 class="subtitle is-size-2">Creează-ți cont</h1>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="container">
                    <div class="field">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="input is-medium" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="field">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="input is-medium" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="field">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="input is-medium" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="container has-text-centered __login-form-button-container">
                        <button type="submit" class="button is-primary is-medium">CREEAZĂ CONT</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>

                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0) {
                    }
                    else {
                        <h4>Use another service to register.</h4>
                        <hr />
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins) {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
